llama-index
llama-index-llms-huggingface
llama-index-vector-stores-mongodb
llama-index-embeddings-openai
python-dotenv
pandas
pypdf
transformers[torch]
InstructorEmbedding
sentence_transformers
argparse
streamlit
pymongo
st-pages
streamlit-disqus
spacy
angle_emb